/* le menu de site */
header{
    background-color: sienna;
    display: flex;
    height: 40px;
}
header span{
    color: aliceblue;
    font-size: 14px;
    font-weight: lighter;
    text-decoration:unset;
    margin: auto;
    align-items: center;
}
.navbar{
    position:sticky     ; top: 0;
    z-index: 1000;
}
.navbar-brand img {
    height: 100px;
  }
  .nav-link {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .navbar .icons {
    display: flex;
  }
  .navbar .icons i {
    font-size: 1.2rem;
    margin-left: 20px;
  }
  /* fin de menu */


  /* footer */
/* les information de site web */
.information-lev{
    margin-bottom: 100px;
  }
  .ma3loma {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  
  }
  .icon {
    font-size: 20px;
    margin-right: 10px;
  }
  .text {
    flex-grow: 1;
  }
  /* fin footer */
/* les liste vedeur */
.header {
    margin: 20px 0;
  }
  .filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
/* les produits  */
  .art-pack{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin-top: 70px;
  }
  .produit3 {
    width: 200px;
    text-align: center;
    position: relative;
  }
  .product-image3 {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 140px 150px 110px 120px ;
    
  
  }
  .product-image3 .main-image3 {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .product-image3:hover .main-image3 {
    transform: scale(1.05);
    border-radius: 19px 180px 250px 120px ;
  
  }
  .product-info3 .price3 {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
  }
  .product-info3 .price {
    font-size: 14px;
    color: #333;
  }
  .old-price3 {
    text-decoration: line-through;
    color: gray;
    margin-right: 8px;
  
  }
  .current-price3 {
    color: sienna;
    font-weight: bold;
  }
  
  
  .art-pack a{
    text-decoration: none;
    color: black;
  }
/* fin des produits */




/* la bar dyal ar9am lakhra*/
.pagination {
    justify-content: center;
}

/* crollbar */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, sienna, #ffb300, #423708);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #d6f8a3, sienna, #ffff03);
}